@media (max-width: 700px) {
	body {
		overflow-x: hidden !important;
	}
	/* Utility Classes */
	.container {
		max-width: 97% !important;
		overflow-x: hidden !important;
	}
	.l-heading {
		font-size: 2rem !important;
	}
	.box {
		font-size: 0.5rem !important;
	}

	/* Profile */
	#profile {
		padding: 0 0.5rem;
	}
	#profile .profile-content {
		flex-direction: column;
	}
	#profile .profile-content .profile-info {
		margin: 0;
		padding: 0 auto;
	}
	#profile .profile-content .profile-pic {
		margin: 1rem 0;
	}
	#profile .profile-content .profile-info .profile-info-top {
		margin: 0 auto !important;
	}
	#profile .profile-content .profile-info .profile-info-top .box {
		font-size: 0.8rem !important;
		margin: 0 2px;
	}
	#profile .profile-content .profile-info .profile-info-bottom {
		padding: 0 auto;
		margin: 1rem 0;
	}
	#profile .btn {
		width: 40% !important;
		margin: 0 auto;
	}
	/* Repo */
	#repo {
		display: block !important;
	}
	#repo .profile-info-top .box {
		text-align: center;
		margin: 1rem auto;
		font-size: 0.8rem !important;
	}
	#repo .repo-link {
		margin-right: 5px;
	}
}
